/* STYLE SHEET for PORTFOLIO */

/* Fonts */

@font-face {
    src: url(fonts/Mont-HeavyDEMO.otf);
    font-family: Mont-Heavy;
}

@font-face {
    src: url(fonts/Mont-ExtraLightDEMO.otf);
    font-family: Mont-ExtraLight;
}

@font-face {
    src: url(fonts/Optima-Bold.ttf);
    font-family: Optima-Bold;
}

@font-face {
    src: url(fonts/Optima-BoldItalic.ttf);
    font-family: Optima-BoldItalic;
}

@font-face {
    src: url(fonts/Optima-ExtraBlack.ttf);
    font-family: Optima-ExtraBlack;
}

@font-face {
    src: url(fonts/Optima-Italic.ttf);
    font-family: Optima-Italic;
}

@font-face {
    src: url(fonts/Optima-Regular.ttf);
    font-family: Optima-Regular;
}



/* Global */



.navbar {
    width: 100%;
    text-align: center;
}

@media (min-width: 600px) {
.topnav-text {
    display: none;
    }}


#logo img {
    display: block;
    margin: auto;
    vertical-align: middle;
    width: 100%;
    height: auto;
    text-align: center;
}

#logo {
    display: inline-block;
    margin: 0 auto;
    width: 8%;
/*    height: 100px; */
    position: fixed;
    padding-top: 1%;
    z-index: 1000;
/*    justify-content: center;*/
}


#logo img:last-child {
    display: none;
}

#logo:hover img:last-child {
    display: block;
}

#logo:hover img:first-child {
    display: none;
}



#logotype {
    position: fixed;
    width: 2%;
    height: 100%;
    margin: 0%;
    margin-block-start: 0;
    margin-block-end: 0;
    vertical-align: middle;
/*    padding-top:50%;*/
/*    padding-bottom: 50%;*/
    top: 50.5%;
}

#menu {
    position: fixed;
    right: -11.4%;
    bottom: 40%;
    width: 25%;
    margin-left: 98%;
/*    display: inline;*/
/*    margin-block-start: 0;*/
/*    margin-block-end: 0;*/
/*    vertical-align: middle;*/
}

body {
    margin: 0px;
}

#floating-menu a {
    text-decoration: none;
}

#floating-menu a h5:hover {
    text-decoration: none;
    color: #CFD7E5;
}

#floating-menu a:-webkit-any-link {
    color: #4A6899;
}

#floating-menu a:-webkit-any-link:hover {
    color: #CFD7E5;
}

@media (max-width: 600px) {
    #floating-menu {
        display: none;
    }
}


.period {
    color: #CFD7E5;
}

/*
#menu a h5:hover {
    text-decoration: none;
    color: #CFD7E5;
}
*/

/*
#menu h5 {
    color: #4A6899;
}
*/

a {
    color:#47207D;
    text-decoration: none;
}

a:hover {
    color:#CFD7E5;
}



/* Type */

p {
    font-family: Optima-Regular, sans-serif;
    color: #4A6899;
    margin: 0;
    line-height: 1.6;
    font-size: 1.5vw;
    margin-top: 1em;
    margin-bottom: 1em;
}

@media (max-width: 900px) {
    p{
        font-size: 2vw;
    }}

@media (max-width: 600px) {
    p{
        font-size: 3vw;
    }}

@media (max-width: 350px) {
    p{
        font-size: 5vw;
    }}


h1 {
    font-family: Mont-Heavy, sans-serif;
    font-size: 41px;
    font-size: 5vw;
    color: #4A6899;
}

h2 {
    font-family: Mont-Heavy, sans-serif;
    font-size: 21px;
    font-size: 2.55vw;
    color: #4A6899;
    margin-block-end: 0;
}

@media (max-width: 900px) {
    h2.menu {
        font-size: 3vw;
    }}


@media (max-width: 600px) {
    h2.menu {
        font-size: 4vw;
    }}



h2.menu {
    font-size: 20px;
    font-size: 2.46vw;
    letter-spacing: 0.2px;
} 

h2.menu a {
    color: #CFD7E5;
    text-decoration: none;
} 

h2.menu a:hover {
    color: #4A6899;
} 

#intro-paragrapos p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h3 {
    font-family: Mont-Heavy, sans-serif;
    font-size: 4vw;
    color: #4A6899;
    margin: 0;
    text-align: center;
}

@media (max-width: 900px) {
    h3{
        font-size: 4.5vw;
    }}


@media (max-width: 600px) {
    h3{
        font-size: 6vw;
    }}

@media (max-width: 350px) {
    h3{
        font-size: 8vw;
    }}


h4 {
    font-family: Mont-ExtraLight, sans-serif;
    font-size: 2.5vw;
    color: #4A6899;
    margin: 0% 0% 10% 0%;
    text-align: center;
}

@media (max-width: 900px) {
    h4{
        font-size: 2.6vw;
    }}

@media (max-width: 600px) {
    h4{
        font-size: 3.5vw;
    }}

@media (max-width: 350px) {
    h4{
        font-size: 5vw;
    }}



h5 {
    font-family: Mont-Heavy, sans-serif;
    font-size: 1.6vw;
    color: #4A6899;
}

#logotype h5 {
    transform: rotate(270deg);
}

#menu h5 {
    transform: rotate(90deg);
}

/* Home Page */

#home-block h1 {
    text-align: center;
    line-height: 0.2
}

@media (max-width: 500px) {
#home-block h1 {
    font-size: 8vw;
}
}

@media (max-width: 300px) {
    #home-block h1 {
    font-size: 9.8vw;
    }
}



@media (max-width: 500px) {
#home-block h2 {
    font-size: 4.1vw;
}
}

@media (max-width: 500px) {
#home-block h2.menu {
    font-size: 3.9vw;
}
}


@media (max-width: 300px) {
#home-block h2 {
    font-size: 5vw;
}
}

@media (max-width: 300px) {
#home-block h2.menu {
    font-size: 4.7vw;
}
}

#home-block h2 {
    text-align: center;
}







#home-block {
    display: block;
    margin: 0 auto;
    line-height: 0.4;
    width: 40%;
/*    position: absolute;*/
/*    top: 50%; left: 32%;*/
/*    transform: translateY(70%);*/
/*
  display: flex;
  align-items: center;
  justify-content: center;
*/
/*    width: 100%;*/
  height: 40%; /* use 100% here */
  position: relative;
}
   
    
@media only screen and (max-width: 500px) {
    #home-block {
    width: 70%;
}
}


@media only screen and (max-width: 450px) {
    #home-block {
    width: 100%;
        background-color: red;
}
}

#home-home-block {
    display: flex;
  align-items: center;
  justify-content: center;
    width: calc(100% - 60px);
  max-height: calc(100% - 60px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 350px) {
    #home-home-block {
        width: 100%
    }}
/* 
#home-block img {
    display: block;
    margin: auto;
    vertical-align: middle;
    width: 20%;
}
*/

#logo-home img {
    display: block;
    margin: auto;
    vertical-align: middle;
    width: 40%;
    height: auto;
    text-align: center;
}

#logo-home {
    width: 100%;
/*    height: 100px; */
/*    position: fixed; */
    padding-top: 1%;
}

a #logo-home img:last-child {
    display: none;
}

a:hover #logo-home img:last-child {
    display: block;
}

a:hover #logo-home img:first-child {
    display: none;
}

/* Work */

#work img {
    display: block;
    margin: auto;
    vertical-align: middle;
    width: 7.5%;
}

#margin {
    margin-top: 2%;
}

#work {
    padding-top: 10%;
    padding-right: 1%;
}


#project-list img {
    display: block;
    margin: auto;
    width: 96%;
    margin-top: 2%;
}



#project-list img {
    filter: brightness(85%)
}

#project-list img:hover {
    filter: brightness(100%)
}

.img_container {
  position: relative;
}

.project {
    position: relative;
}

.project img {
    width: 100%;
    height: auto;
}

.project h1 {
    color: white;
    font-size: 3vw;
    position: absolute;
    top: 42%;
    left:  50%;
    -webkit-transform: translate(-50%, -50%); /* iOS */
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {.project h1 {
    font-size: 5vw;
    }}
    }

/* Add a blue background color to the top navigation */

@media screen and (max-width: 600px) {
.topnav {
  background-color: #CFD7E6;
  overflow: hidden;
}
}

@media screen and (min-width: 600px) {
.topnav {
  display: none;
}
}




/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding:  0.5% 2%;
  text-decoration: none;
  font-size: 4vw;
}

/* Change the color of links on hover */
/*
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
*/

/* Add an active class to highlight the current page */
/*
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
*/

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    color: #4A6899;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}





/* Project Pages */


#header-bc {
    display: block;
    margin: auto;
    width: 96%;
}

#header-bc img{
    display: block;
    margin: auto;
    width: 100%;
}

.body-photos {
    display: block;
    margin: auto;
    width: 96%;
}

.body-photos img {
    width: 100%;
    margin-bottom: 2%;
}

.body-photos-narrow {
    display: block;
    margin: auto;
    width: 80%;
}

.body-photos-narrow img {
    width: 100%;
    margin-bottom: 2%;
}

@media (max-width: 850px) {
.column img {
    margin-bottom: 6%;
}
}

@media (max-width: 850px) {
.column img {
    margin-bottom: 2%;
}
}

.body-text {
    margin: 4% 25% 4% 25%;
}

@media (max-width: 900px){
    .body-text {
    margin: 4% 20% 4% 20%;
}}


@media (max-width: 600px) {
    .body-text {
    margin: 6% 10% 6% 10%;
}}


.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
/*
    height: 36.6vw;
    width: 65vw;
    
*/
}


.youtube-embed {
    position:relative; 
    width:100%; 
    height:0px; 
    padding-bottom:56.25%;
    margin-bottom: 3%;
}

.youtube-embed .iframe {
    position:absolute; 
    left:0; 
    top:0; 
    width:100%; 
    height:100%;
    border: 0;
}

/*

.auto-resizable-iframe {
  max-width: 420px;
  margin: 0px auto;
}

.auto-resizable-iframe > div {
  position: relative;
  padding-bottom: 75%;
  height: 0px;
}

.auto-resizable-iframe iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
*/

/* Bathing Culture */

/* Studio Rosha */

.column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3%;
    width: 100%;
    height: auto;
}



@media (max-width: 850px) {
.column {
    grid-template-columns: 1fr;
    margin-bottom: 0;
    }
.column img {
    margin-bottom: 2%;
    }
}

.screenshot {
    border: 0.5px solid #CFD7E5;
    border-radius: 5px 5px 5px 5px;
}



/* Pandora */

.column-pandora {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2%;
    width: 100%;
    height: auto;
    margin-bottom: 2%;
}

.column-pandora img {
    border: 1px solid #CFD7E5;
}



.slideshow-container {
    border: 0.5px solid #CFD7E5;
    margin-bottom: 2%;
}

/* Slideshow container */
.slideshow-container {
/*  max-width: 1000px; */
  position: relative;
  margin: auto;
}

.slideshow-container img {
margin-bottom: 0px;
}
    
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
/*/.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}*/


/* BULLLETS HERE */

/* The dots/bullets/indicators */

/*
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
*/

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/* Burning Man */

#header-burning-man {
    display: block;
    margin: auto;
    width: 100%;
}

#header-burning-man img{
    display: block;
    margin: auto;
    width: 100%;
}

h5.moon {
    color: #ECEEAE;
}


#floating-menu-bm a {
    text-decoration: none;
    color: #ECEEAE;
}

#floating-menu-bm a:hover {
    text-decoration: none;
    color: #CFD7E5;
}

#floating-menu-bm #logotype a h5:hover {
    text-decoration: none;
    color: #CFD7E5;
}

#floating-menu-bm #logotype a h5 {
    color: #ECEEAE;
}

.period {
    color: #CFD7E5;
}


/* About */

#signature {
    width: 100%;
    margin-top: 1em;
}

#signature img {
    width: 30%;
    float:right;
}