@charset "UTF-8";
/* CSS Document */



/*Home Page*/


/* video background */
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position:fixed;
	width: 100%;
	z-index: -100;
/*
	position: relative;
	z-index: -1;
*/
  }


@media only screen and (max-width: 750px) {
	#background-video {position: static;
		height: auto;
		display: none;}
}


.background-gif {
	background-image: url("source-images/index-1b.gif");
	width: 100%;
	height: 400px;
	background-position: right;
	background-repeat: none;
	background-size: cover;
	
}

@media only screen and (min-width: 750px) {
	.background-gif{
		display: none;
	}
}

.home-above-fold {height:1350px;}

@media only screen and (min-width: 400px) {.home-above-fold {height:1200px;}}


@media only screen and (min-width: 500px) {.home-above-fold {height:1150px;}}


@media only screen and (min-width: 750px) {.home-above-fold {height:1000px;}}

.home-intro {
	position: absolute;
	margin-right: 7.5vw;
	padding-bottom: 200px;
/*
	position: relative;
	z-index: 100;
*/
}

@media only screen and (min-width: 800px) {.home-intro {width: 685px;}}




#home-intro-first {
	margin-top: 30px;
}

@media only screen and (min-width: 750px) {
	#home-intro-first {margin-top: 150px;}
}


/*Global Styles*/

body {
/*  font-family: Trebuchet MS;*/
  margin: 0;
  padding: 0;
	color: #000000;
  background-color: white;
  transition: background-color 1s ease;
}

/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
/*  display: flex;*/
  justify-content: space-around;
  align-items: center;
  font-family: sans-serif;
/*
	z-index: 5;
	position: absolute;
	top: 1000px;
*/
	/* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}

/* colours */
.color-black {
  background-color: #000000;
	
}

.color-self {
	background-image: url("source-images/index-1b.gif");
	width: 100%;
	height: 400px;
	background-position: right;
	background-repeat: none;
	background-size: cover;
}


.margin-content {
	margin-left: 7.5vw;
	margin-right: 7.5vw;
}

@media only screen and (min-width:1290px) {
	.margin-content {max-width:1100px; margin-left:auto; margin-right: auto;}
}

.margin-content-original {
	margin-left: 7.5vw; margin-right: 7.5vw;
}

.margin-color {background-color: #FCFBFB;}


.logotype, .logotype-black, .logotype-no-hero {
	margin-left: 7.5vw;
/*	padding-right: 1vw;*/
	position: absolute;
	z-index: 9999999;
/*	width: 100%;*/
	margin-top: 1.5em;
	width: 75%;
}

.logotype a, .logotype-black a, .logotype-no-hero a {
	color: black;
}


.hero .logotype p:hover, .hero .logotype-black p:hover, .logotype-no-hero p:hover, .logotype a p:hover {
 	font-family: AZSerifBold;
}




.logotype-no-hero {
	margin-bottom: 100px;
}

.blank-space {
	height: 70px;
}

#moon-space {
	height: 0;
}


@media only screen and (min-width: 750px) {
	#moon-space{height:30px}
}

.page-title {
	margin-top: 50px;
	margin-bottom: 50px
/*	width: 100%;*/

}

.page-title:first-child {
	margin-top: 150px;
}


/*
@media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
      background-size: cover;
    }
}
*/







/* Type */

@font-face {
    src: url("fonts/EduArizonaSerif-Bold.woff2");
    font-family: AZSerifBold;
}

@font-face {
	src: url("fonts/EduArizonaSerif-Regular.woff2");
	font-family: AZSerifRegular;
}

@font-face {
    src: url("fonts/EduArizonaSerif-Medium.woff2");
    font-family: AZSerifMedium;
}

@font-face {
    src: url("fonts/EduArizonaSerif-MediumItalic.woff2");
    font-family: AZSerifMediumItalic;
}

@font-face {
    src: url("fonts/EduArizonaSerif-Light.woff2");
    font-family: AZSerifLight;
}

@font-face {
    src: url("fonts/EduArizonaSerif-Thin.woff2");
    font-family: AZSerifThin;
}

@font-face {
    src: url("fonts/EduArizonaSans-Medium.woff2");
    font-family: AZSansMedium;
}


@font-face {
	src: url("fonts/EduArizonaSans-Regular.woff2");
	font-family: AZSansRegular;
}


p {
	font-family: AZSerifLight;
	font-size: 1em;
	font-size:1.3em;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-bottom: 1em;
	line-height: 140%;
}

p:last-child {margin-bottom: 0;}


.definition {font-family: AZSerifMediumItalic;}

.emphasis-med {font-family: AZSerifMedium;}

.hero .logotype p {
	color: white;
	margin-top: 0;
}

.hero .logotype-black p {
	color:black;
}


@media only screen and (max-width:450px) {
	.hero .logotype p, .hero .logotype-black p {
		font-size: 1em;
	}
}

.caption p, .caption-full p, .caption-no-top p, .caption-project-photos-single p, .caption-project-photos-single-right p {
	font-size: 1em;
	
}

.caption p, .caption-full p, .caption-project-photos-single p, .caption-project-photos-single-right p {
	margin-top: 1em;
}

.caption-project-photos-single p, .caption-project-photos-single-right p {
	margin-bottom: 2.5em;
}



.caption-no-top p {
	margin-top: 0;
}




.body-black p {
	color: white;
}


.grid-text p:first-child {
	margin-top: 0;
}

ul li {padding-bottom: 1em;

}

ul {margin-top:0; margin-bottom: 0;}


h1 {
	font-family: AZSerifThin, serif;
	text-align: left;
	font-size: 2.8em;
	color: black;
	margin-block-start: 0;
	margin-block-end: 0em;
/*	font-size: 2.5em;*/
	font-weight: normal;
	font-size: 1.95em;
	margin-bottom: 0.5em;
}

@media only screen and (min-width: 750px) {
	h1 {font-size: 2.4em; font-size: 2.5em; font-size: 2.1em;}
}


.home-intro h1 {
	letter-spacing: -1px;
	margin-bottom: 1em;
	font-size: 2.2em;
	font-size: 2.4em;
	font-size: 2.1em;
}

@media only screen and (min-width: 750px) {
	.home-intro h1 {font-size:2.5em;}
}

.body-black h1 {
	color: white;
}



h2 {
	font-family: AZSansMedium , sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	font-weight: 200;
	font-size: 0.85rem;
}

.projects h2 {font-size: 1.2rem; font-family: AZSansRegular;}

.projects h2 a {
	color: black;
}

.projects h2 a:hover {
	color: #6086C5;
}

.projects h2 {font-size: 1em;}

@media only screen and (min-width: 1000px){.projects h2 {font-size: 1.2rem;}} 

h3 {
	font-family: AZSansMedium, sans-serif;
	font-weight: normal;
	font-size: 1.2rem;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-bottom: 0.3em;
}

.body-black h3{
	color: white;
}


form h3 {
	font-family: AZSansRegular;
	font-weight: normal;
	padding-bottom: 5px;
	font-size: 1em;
}


h4 {
	font-family: AZSerifThin, serif;
	color: black;
	text-align: left;
	font-size: 2.8em;
	margin-block-start: 0;
	margin-block-end: 0em;
	font-weight: normal;
	font-size: 1.5em;
	margin-bottom: 0.3em;
}

.skills h4 {
	margin-bottom: 0.5em;
	font-size: 1.3em;
}

h5 {
		font-family: AZSansMedium, sans-serif;
	font-weight: normal;
	font-size: 1rem;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-bottom: 0.3em;
}

.body-black h5, .body-black h4 {
	color: white;
}


h6 {
	font-family: AZSerifBold;
	font-weight: normal;
	color: white;
	bottom: 1.5em;
	font-size: 2.4em;
	margin-block-start: 0;
	margin-block-end: 0;
}

.hero h6 {
	position: absolute;
	z-index: 100;
	margin-left: 7.5vw;
}


.margin-content h6 {
	font-family: AZSerifRegular;
	font-weight: normal;
	color: black;
	font-size: 2.4em;
 
}

@media only screen and (min-width:500px) {.margin-content h6: 2.7em;}



/*Nav*/
header {
  background-color: transparent;
/*right: 0;*/
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 999999;
  top: 0;
  background-color: black;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
	  position: relative;
	  top: 25%;
	  width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overlay .overlay-content a {
	padding: 8px;
}

.overlay a {
/*  padding: 8px;*/
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #7F8C8D;
}

.overlay .closebtn {
  	position: absolute;
  	top: 20px;
  	right: 45px;
  	font-size: 60px;
	right: 7vw;
	top: .08em;
}

.burger {
  	font-size: 2em;
  	cursor: pointer;
  	position: absolute;
	z-index: 99999;
	right: 7.5vw;
	margin-top: 0.5em;
}

#white-burger .burger {
	color: white;
}



#listening-now p {
	margin-block-start: 0;
	margin-bottom: 0;
}


.button {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 1px solid #555555;
	border-radius: 2em;
	font-family: AZSansMedium;
	text-decoration: none;
	margin-top: 2em;
	font-size: 1em;
}

button {
  font-family: 'AZSansMedium', sans-serif;
  font-size: 18px;
  line-height: 22.6px;
  background-color: white;
  padding: 16px 24px 16px 24px;
  cursor: pointer;
transition: all 0.4s ease;
	margin-top: 1em;
}


button:hover {background-color: black;
	color: white;}

.body-black .btn-black:hover {border: 1px solid white;}


.btn-black {
  border: 1px solid #000000;
  color: #000000;
	border-radius: 2em;
}

.btn-grey {
  border: 4px solid #45423C;
  color: #45423C;
}

.arrow, .arrow-reverse {
  height: 2px;
  width: 25px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 4px;
  transition: all .4s ease;
}

.arrow {margin-right: 15px;}
.arrow-reverse {margin-left: 15px;}

.arrow-black {
  background: black;
	transition: all 0.4s ease;
}

button .arrow {margin-right: 0;}

button:hover .arrow {
  width: 35px;
  margin-right: 5px;
	color: white;
	background: white;
}

button:hover .arrow-black {
	color: white;
	background: white;
}

.arrow-grey {
  background: #45423C;
}

.arrow:before,
.arrow:after {
  content: "";
  background: black;
  position: absolute;
  height: 2px;
  width: 10px;
  border-radius: 30%;
	transition: all 0.4s ease;
}

.arrow:before {
  right: -2px;
  bottom: -3px;
  transform: rotate(-45deg);
	background: black;
}

.arrow:after {
  right: -2px;
  top: -3px;
  transform: rotate(45deg);
	background: black;
}

.arrow-reverse:before,
.arrow-reverse:after {
  content: "";
  background: black;
  position: absolute;
  height: 2px;
  width: 10px;
  border-radius: 30%;
	transition: all 0.4s ease;
}

.arrow-reverse:before {
  right: 12px;
  bottom: -3px;
  transform: rotate(45deg);
	background: black;
}

.arrow-reverse:after {
  right: 12px;
  top: -3px;
  transform: rotate(-45deg);
	background: black;
}

button:hover .arrow:after, button:hover .arrow:before {
	background: white;
	
}

a {
	color: #6086C5;
	text-decoration: none;
}

p a:hover {
	color: #72B3FF;
}

.body-black a {
	color: #72B3FF;
}


.button:hover {
	background-color: black;
	color: white;
}

/*Work Page*/

.projects {
	display: grid;
	grid-template-columns: 1fr;
	;
}


@media only screen and (min-width: 750px) {
.projects {
  	display: grid;
  	grid-template-columns: 1fr 1fr;
	grid-gap: 1.5vw;
/*	width: 100%;*/

}
}


.project-grid-item {
	
	margin-bottom: 35px
}

.project-grid-item img {
	display: block;
	width: 100%;
/*	transition: transform 0.3s ease;*/

}

.project-grid-item .arrow {
  margin-bottom: 5px;
transition: all 0.1 ease;
width: 18px;}

.project-grid-item h2:hover .arrow {
  width: 35px;
  margin-right: 10px;
	background: #6086C5;}

.project-grid-item h2:hover .arrow:after, .project-grid-item h2:hover .arrow:before {
	background: #6086C5;}






/*Project Pages*/

		.hero {
			position: relative;
		}

		.hero img {
			width: 100%;
			height: auto;
		}

		.project-text-intro {
			padding-top: 100px;
			padding-bottom: 100px;
			display: grid;
			grid-template-columns: 1fr;
		}


		@media only screen and (min-width: 750px) {
		.project-text-intro {
			display: grid;
			grid-template-columns: 8fr 1fr 3fr;
			grid-gap: 2.5vw;
		/*	width: 100%;*/
		}
		}


		.project-title {margin-top: 150px}

		.project-text-intro p {
			width: 100%;
		}

		@media only screen and (min-width: 750px) {.project-text-intro p {width: 75%;}}

		.project-text-intro .grid-item {
			margin-bottom: 3em;}

		.project-new-body {
			padding-top: 20px;
			padding-bottom: 60px;
		}

		.project-new-body hr {border: 0.5px solid #A1A1A1;}

		.project-new-body hr:first-child {
			margin-bottom: 60px;
		}

		.project-new-body hr:last-child {
			margin-top: 60px;
		}


		.project-new-body-head {
			padding-top: 30px;
			padding-bottom: 30px;
			display: grid;
			grid-template-columns: 1fr;
		}


		@media only screen and (min-width: 750px) {
		.project-new-body-head {
			display: grid;
			grid-template-columns: 8fr 1fr 3fr;
			grid-gap: 2.5vw;
		/*	width: 100%;*/
		}
		}

		.project-text-intro p {
			width: 100%;
		}

		@media only screen and (min-width: 750px) {.project-text-intro p {width: 75%;}}

		.project-text-intro .grid-item {
			margin-bottom: 3em;}


/*
		.project-photos-single {
			
			margin-bottom: 2.5em;
			}
*/


		.project-photos-single img, .project-photos-single video {
			width: 100%;
			margin-bottom: 7.5vw;}


		@media only screen and (min-width: 750px) {
			.project-photos-single img, .project-photos-single video {margin-bottom: 2.5vw;}
		}

		.project-photos-grid, .project-photos-grid-image-right, .project-photos-grid-image-left {
			display: grid;
			margin-bottom: 2.5em;

		}


		.project-photos-grid img, .project-photos-grid-image-right img {
			width: 100%;
			margin-top: 2.5em;
		}

		.project-photos-grid-image-left img {
			width: 100%;
			margin-bottom: 2.5em;
		}
		
		@media only screen and (min-width: 750px) {.project-photos-grid img, .project-photos-grid-image-right img {
		
			margin-top: 0;
		}	}
		
/*
		.grid-photo {
			margin-bottom: 7.5vw;
		}
*/
		
		.grid-photo-double {
			margin-top: 0;
			margin-bottom: 2.5em;
		}


		@media only screen and (min-width: 750px) {
			.grid-photo {margin-bottom: 2.5em;}
			.grid-photo-double {margin-top: 2.5em; }
		}


		


		.grid-photo-bottom {
			margin-top: 5em;
		}

		@media only screen and (min-width: 750px) {.grid-photo-bottom {
		margin-top: 0;
		}}

		

		@media only screen and (min-width: 750px) {.grid-text {margin-left: 0;}}

		@media only screen and (min-width: 750px) {
			.grid-photo {margin-bottom: 0;}
		}

		@media only screen and (min-width: 750px) {
			.project-photos-grid, .project-photos-grid-image-right, .project-photos-grid-image-left{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 2.5vw;
		}
		}

		@media only screen and (min-width: 750px) {
			.project-photos-grid-image-left img{
			margin-bottom: 0;
		}
		}

		.project-text-body-grid-top {
			margin-top: 200px;
			display: grid;
			grid-template-columns: 1fr;
		}


		@media only screen and (min-width: 750px) {
		.project-text-body-grid-top {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 2.5vw;
		/*	width: 100%;*/
		}
		}

		.project-text-body-grid-top img {
			width: 100%;
		}


		.project-text-body-grid-bottom {
			margin-bottom: 200px;
			display: grid;
			grid-template-columns: 1fr;}

		@media only screen and (min-width: 750px) {
		.project-text-body-grid-bottom {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 2.5vw;}}

		.project-text-body-grid-bottom-four {
			margin-bottom: 200px;
			display: grid;
			grid-template-columns: 1fr;}


		@media only screen and (min-width: 750px) {
		.project-text-body-grid-bottom-four {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-gap: 2.5vw;}}

		
		.project-text-body-grid-normal {
			margin-bottom: 80px;
			margin-top: 80px;
			display: grid;
			grid-template-columns: 1fr;}

		@media only screen and (min-width: 750px) {
		.project-text-body-grid-normal {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 2.5vw;}}

		.project-text-body-grid-normal img {width: 100%;}

		.logo img {
			width: 50%;
		}



		.caption, .caption-no-top {
			width: 50%;
/*			margin-bottom: 5em;*/
		}

		.caption-project-photos-single-right, .caption-project-photos-single {
			width: 100%;
			}

		@media only screen and (min-width: 750px) {
		.caption-project-photos-single-right {width: 50%;}
		}

		@media only screen and (min-width: 750px) {
		.caption-project-photos-single {width: 50%;}
		}

		.caption-full {
			width: 100%;
		}

		.body-black {
			background-color: black;
			padding-top: 150px;
			padding-bottom: 150px;
			padding-left: 7.5vw;
			padding-right: 7.5vw;

			}


		.screenshot {border: 0.5px solid #ECECEC;}

		
		/*Slider Code*/
		.container {
		 position: relative;
		 width: 900px;
		 height: 600px;
		 border: T2px solid white;
/*		width: 50%;*/
/*		height: 150px;*/
			width: 100%;
			height: auto;
}
		 .container .img {
			 position: absolute;
			 top: 0;
			 left: 0;
			 width: 100%;
			 height: 100%;
			 background-size: 900px 100%;
		}
		 .container .background-img {
/*			 background-image: url("source-images/the-quietus-10.png");*/
		}
		 .container .foreground-img {
/*			 background-image: url("source-images/the-quietus-11.png");*/
/*			 width: 50%;*/
		}
		 .container .slider {
			 position: absolute;
			 -webkit-appearance: none;
			 appearance: none;
			 width: 100%;
			 height: 100%;
			 background: rgba(242, 242, 242, .3);
			 outline: none;
			 margin: 0;
			 transition: all 0.2s;
			 display: flex;
			 justify-content: center;
			 align-items: center;
		}
		 .container .slider:hover {
			 background: rgba(242, 242, 242, .1);
		}
		 .container .slider::-webkit-slider-thumb {
			 -webkit-appearance: none;
			 appearance: none;
			 width: 6px;
			 height: 600px;
			 background: white;
			 cursor: pointer;
			 height: 100%; /*Mike edit*/
/*			 height: auto;*/
		}
		 .container .slider::-moz-range-thumb {
			 width: 6px;
			 height: 600px;
			 background: white;
			 cursor: pointer;
			 height: 100%; /*Mike edit*/
/*			 height: auto;*/
		}
		 .container .slider-button {
			 pointer-events: none;
			 position: absolute;
			 width: 30px;
			 height: 30px;
			 border-radius: 50%;
			 background-color: white;
			 left: calc(50% - 18px);
			 top: calc(50% - 18px);
			 display: flex;
			 justify-content: center;
			 align-items: center;
		}
		 .container .slider-button:after {
			 content: '';
			 padding: 3px;
			 display: inline-block;
			 border: solid #5d5d5d;
			 border-width: 0 2px 2px 0;
			 transform: rotate(-45deg);
		}
		 .container .slider-button:before {
			 content: '';
			 padding: 3px;
			 display: inline-block;
			 border: solid #5d5d5d;
			 border-width: 0 2px 2px 0;
			 transform: rotate(135deg);
		}


		
		.next-project {
			margin-top: 75px;
			width: 100%;
			background-color: #FCFBFB;
			height: 300px;
			display: grid;
			grid-template-columns: 1fr 1fr;
		}

		#body-black-next .next-project {
			margin-top: 0;
		}		

		.next-left {
			display: block;
			text-align: left;
			padding-left: 7.5vw;
			padding-top: 140px;
			padding-bottom: 140px;
		}

		.next-left-empty {display: block;
			text-align: left;
			padding-left: 7.5vw;
			padding-top: 140px;
			padding-bottom: 140px;}

		.next-right {
			text-align: right;
			padding-right: 7.5vw;
			padding-top: 140px;
			padding-bottom: 140px;
		}

		.next-left:hover, .next-right:hover {
		background-color: black;
		color: white;
			transition:all 1s ease; 
		}

		.next-project .arrow, .next-project .arrow-reverse {
	 	margin-bottom: 5px;
		transition: all 0.1 ease;
		width: 18px;}

		.next-left:hover .arrow-reverse, .next-right:hover .arrow {
			width: 35px;
  			margin-right: 5px;
			color: white;
			background: white;
			}

		.next-right:hover .arrow {
  			margin-right: 5px;
			}

		.next-left:hover .arrow-reverse {
  			margin-left: -5px;
			}



		.next-left:hover .arrow-reverse, .next-right:hover .arrow {
			margin-left: 5px;
			}



		.next-left:hover .arrow-reverse:before, .next-left:hover .arrow-reverse:after {
			right: 28px;
		}

		.next-right:hover .arrow:after, .next-right:hover .arrow:before, .next-left:hover .arrow-reverse:after, .next-left:hover .arrow-reverse:before {background: white;}
	
@media only screen and (min-width: 1290px) {
	.next-left-text {width:600px; margin-left: auto;}
	.next-right-text {width: 600px; margin-right: auto;}
	.next-left, .next-left-empty {padding-left: auto;}
	.next-right {padding-right: auto;}
}
	





.bal-container {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: grab;
    overflow: hidden;
}

.bal-after {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bal-before {
    display: block;
    position: absolute;
    top: 0;
    /* right: 0; */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    overflow: hidden;
}

.bal-before-inset {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.bal-after img,
.bal-before img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.bal-beforePosition {
    background: #121212;
    color: #fff;
    left: 0;
    pointer-events: none;
    border-radius: 0.2rem;
    padding: 2px 10px;
}

.bal-afterPosition {
    background: #121212;
    color: #fff;
    right: 0;
    pointer-events: none;
    border-radius: 0.2rem;
    padding: 2px 10px;
}

.beforeLabel {
    position: absolute;
    bottom: 0;
    margin: 1rem;
    font-size: 1em;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.afterLabel {
    position: absolute;
    bottom: 0;
    margin: 1rem;
    font-size: 1em;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.bal-handle {
    height: 41px;
    width: 41px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -21px;
    border: 2px solid #fff;
    border-radius: 1000px;
    z-index: 20;
    pointer-events: none;
    box-shadow: 0 0 10px rgb(12, 12, 12);
}

.handle-left-arrow,
.handle-right-arrow {
    width: 0;
    height: 0;
    border: 6px inset transparent;
    position: absolute;
    top: 50%;
    margin-top: -6px;
}

.handle-left-arrow {
    border-right: 6px solid #fff;
    left: 50%;
    margin-left: -17px;
}

.handle-right-arrow {
    border-left: 6px solid #fff;
    right: 50%;
    margin-right: -17px;
}

.bal-handle::before {
    bottom: 50%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgb(12, 12, 12);
}

.bal-handle::after {
    top: 50%;
    margin-top: 20.5px;
    box-shadow: 0 0 5px rgb(12, 12, 12);
}

.bal-handle::before,
.bal-handle::after {
    content: " ";
    display: block;
    width: 2px;
    background: #fff;
    height: 9999px;
    position: absolute;
    left: 50%;
    margin-left: -1.5px;
}
	

/*Delete content above*/


@import "lesshat";

.ba-slider {
    position: relative;
}
 
.ba-slider img {
    width: 100%;
    display:block;
}
 
.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.ba-slider .resize img { 
	background-color: white;}


.handle { /* Thin line seperator */
  position:absolute; 
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;
 
  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}
 
.handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
 
    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;
 
    background: #ffb800; /* @orange */
	background: #FF8D8D;
    border:1px solid #e6a600; /* darken(@orange, 5%) */
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,.3), 
      inset 0 2px 0 rgba(255,255,255,.5),
      inset 0 60px 50px -30px #FFC8C8; /* lighten(@orange, 20%)*/ 
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
}






/*Illustrations Page*/


#wavehugger img {
  transition: transform 4s ease-in-out;
}

#wavehugger img:hover {
  transform: rotate(-360deg);
}



/*Contact Me*/

form {
	margin-bottom: 200px;
	max-width: 800px;
}

fieldset {
	border-color: black;
	margin-bottom: 1em;
	border-width: 1px;
}

fieldset p {
	margin-bottom: 0.5em;
}

fieldset .button {
	margin-top: 0;
}

input{
	margin-bottom: 1.5em;
	border-color: #E9E9E9;
	background-color: #E9E9E9;
	border-width: 0;
	padding: 10px 10px 10px 10px;
	font-family: AZSerifThin serif;
    color: black;
	font-size: 1em;
	width: 100%;
}

#fs-frm-inputs input {
	width: 97%;
}

textarea {
	width: 90%;
	margin: auto;
	border-style: inset;
	border-width: 0;
	border-color: #E9E9E9;
	background-color: #E9E9E9;
	margin-bottom: 3em;
	padding: 10px 10px 10px 10px;
	font-family: AZSerifThin serif;
	color: black;
	font-size: 1em;
	width: 97%;
	
}

fieldset {
	padding-top: 40px;
	padding-bottom: 15px;
}





/*Boostrap Code*/

.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width:576px){.container,.container-sm{max-width:540px}}@media (min-width:768px){.container,.container-md,.container-sm{max-width:720px}}@media (min-width:992px){.container,.container-lg,.container-md,.container-sm{max-width:960px}}@media (min-width:1200px){.container,.container-lg,.container-md,.container-sm,.container-xl{max-width:1140px}}

.carousel{position:relative}.carousel.pointer-event{-ms-touch-action:pan-y;touch-action:pan-y}.carousel-inner{position:relative;width:100%;overflow:hidden}.carousel-inner::after{display:block;clear:both;content:""}.carousel-item{position:relative;display:none;float:left;width:100%;margin-right:-100%;-webkit-backface-visibility:hidden;backface-visibility:hidden;transition:-webkit-transform .6s ease-in-out;transition:transform .6s ease-in-out;transition:transform .6s ease-in-out,-webkit-transform .6s ease-in-out}@media (prefers-reduced-motion:reduce){.carousel-item{transition:none}}.carousel-item-next,.carousel-item-prev,.carousel-item.active{display:block}.active.carousel-item-right,.carousel-item-next:not(.carousel-item-left){-webkit-transform:translateX(100%);transform:translateX(100%)}.active.carousel-item-left,.carousel-item-prev:not(.carousel-item-right){-webkit-transform:translateX(-100%);transform:translateX(-100%)}.carousel-fade .carousel-item{opacity:0;transition-property:opacity;-webkit-transform:none;transform:none}.carousel-fade .carousel-item-next.carousel-item-left,.carousel-fade .carousel-item-prev.carousel-item-right,.carousel-fade .carousel-item.active{z-index:1;opacity:1}.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-right{z-index:0;opacity:0;transition:opacity 0s .6s}@media (prefers-reduced-motion:reduce){.carousel-fade .active.carousel-item-left,.carousel-fade .active.carousel-item-right{transition:none}}.carousel-control-next,.carousel-control-prev{position:absolute;top:0;bottom:0;z-index:1;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;width:15%;color:#fff;text-align:center;opacity:.5;transition:opacity .15s ease}@media (prefers-reduced-motion:reduce){.carousel-control-next,.carousel-control-prev{transition:none}}.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{color:#fff;text-decoration:none;outline:0;opacity:.9}.carousel-control-prev{left:0}.carousel-control-next{right:0}.carousel-control-next-icon,.carousel-control-prev-icon{display:inline-block;width:20px;height:20px;background:no-repeat 50%/100% 100%; padding: 20px;}.carousel-control-prev-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")}.carousel-control-next-icon{background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e")}.carousel-indicators{position:absolute;right:0;bottom:0;left:0;z-index:15;display:-ms-flexbox;display:flex;-ms-flex-pack:center;justify-content:center;padding-left:0;margin-right:15%;margin-left:15%;list-style:none}.carousel-indicators li{box-sizing:content-box;-ms-flex:0 1 auto;flex:0 1 auto;width:30px;height:3px;margin-right:3px;margin-left:3px;text-indent:-999px;cursor:pointer;background-color:#fff;background-clip:padding-box;border-top:10px solid transparent;border-bottom:10px solid transparent;opacity:.5;transition:opacity .6s ease}@media (prefers-reduced-motion:reduce){.carousel-indicators li{transition:none}}.carousel-indicators .active{opacity:1}.carousel-caption{position:absolute;right:15%;bottom:20px;left:15%;z-index:10;padding-top:20px;padding-bottom:20px;color:#fff;text-align:center}

/*
.carousel-control-prev {
  margin-left: -100px;
}

.carousel-control-next {
  margin-right: -100px;
}
*/


/*Bootstrap Revisions*/

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
	padding-right: 0;
	padding-left: 0;
	width: 100%;
	border: 0.5px solid #CFD7E5;
	margin-bottom: 2em;	
}

@media (min-width:576px){.container,.container-sm{max-width:100%}}@media (min-width:768px){.container,.container-md,.container-sm{max-width:100%}}@media (min-width:100%){.container,.container-lg,.container-md,.container-sm{max-width:100%}}@media (min-width:100%){.container,.container-lg,.container-md,.container-sm,.container-xl{max-width:100%}}



.carousel-item img {
/*
	border: 0.5px solid #CFD7E5;
	border-radius: 5px 5px 5px 5px;
*/
	overflow: hidden;
	margin-bottom: 0;
}



.d-block{display:block!important}
.w-100{width:100%!important}

.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0}.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;overflow:visible;clip:auto;white-space:normal}


.body-black .container {
	border: 0;
}


.img-white {
	border: 0.5px solid #CFD7E5;}



